.6_43 { 
	overflow:hidden;
}.e6_43 { 
	width:1440px;
	height:1024px;
	position:absolute;
	background-image:url(images/desktop___1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_46 { 
	width:198px;
	height:109px;
	position:absolute;
	left:319px;
	top:331px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_59 { 
	width:198px;
	height:109px;
	position:absolute;
	left:310px;
	top:554px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_48 { 
	color:rgba(255, 255, 255, 1);
	width:613px;
	height:77px;
	position:absolute;
	left:432px;
	top:79px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e6_51 { 
	color:rgba(255, 255, 255, 1);
	width:435px;
	height:44px;
	position:absolute;
	left:507px;
	top:189px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e6_52 { 
	background-color:rgba(251.48046165704727, 244.49493169784546, 244.49493169784546, 0);
	width:197px;
	height:24px;
	position:absolute;
	left:310px;
	top:466px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.6_52 { 
	border:1px solid rgba(255, 252.16670483350754, 252.16670483350754, 1);
}.e6_64 { 
	background-color:rgba(251.48046165704727, 244.49493169784546, 244.49493169784546, 0);
	width:197px;
	height:24px;
	position:absolute;
	left:628px;
	top:701px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.6_64 { 
	border:1px solid rgba(255, 252.16670483350754, 252.16670483350754, 1);
}.e6_66 { 
	background-color:rgba(251.48046165704727, 244.49493169784546, 244.49493169784546, 0);
	width:197px;
	height:24px;
	position:absolute;
	left:942px;
	top:713px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.6_66 { 
	border:1px solid rgba(255, 252.16670483350754, 252.16670483350754, 1);
}.e6_63 { 
	background-color:rgba(251.48046165704727, 244.49493169784546, 244.49493169784546, 0);
	width:197px;
	height:24px;
	position:absolute;
	left:310px;
	top:701px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.6_63 { 
	border:1px solid rgba(255, 252.16670483350754, 252.16670483350754, 1);
}.e6_55 { 
	background-color:rgba(251.48046165704727, 244.49493169784546, 244.49493169784546, 0);
	width:197px;
	height:24px;
	position:absolute;
	left:628px;
	top:466px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.6_55 { 
	border:1px solid rgba(255, 252.16670483350754, 252.16670483350754, 1);
}.e6_58 { 
	background-color:rgba(251.48046165704727, 244.49493169784546, 244.49493169784546, 0);
	width:197px;
	height:24px;
	position:absolute;
	left:942px;
	top:460px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.6_58 { 
	border:1px solid rgba(255, 252.16670483350754, 252.16670483350754, 1);
}.e6_53 { 
	color:rgba(255, 255, 255, 1);
	width:123px;
	height:19px;
	position:absolute;
	left:347px;
	top:468px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e6_54 { 
	width:198px;
	height:109px;
	position:absolute;
	left:627px;
	top:327px;
	background-image:url(images/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_60 { 
	width:198px;
	height:109px;
	position:absolute;
	left:627px;
	top:554px;
	background-image:url(images/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_56 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:19px;
	position:absolute;
	left:340px;
	top:702px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e6_67 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:19px;
	position:absolute;
	left:666px;
	top:468px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e6_68 { 
	color:rgba(255, 255, 255, 1);
	width:107px;
	height:19px;
	position:absolute;
	left:674px;
	top:703px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e6_69 { 
	color:rgba(255, 255, 255, 1);
	width:167px;
	height:19px;
	position:absolute;
	left:959px;
	top:716px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e6_57 { 
	width:198px;
	height:109px;
	position:absolute;
	left:944px;
	top:320px;
	background-image:url(images/rectangle_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_61 { 
	width:198px;
	height:109px;
	position:absolute;
	left:944px;
	top:554px;
	background-image:url(images/rectangle_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_62 { 
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:19px;
	position:absolute;
	left:987px;
	top:463px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}