.2_12 { 
	overflow:hidden;
}.e2_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e2_18 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:58px;
	position:absolute;
	left:1109px;
	top:22px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e2_16 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:84px;
	position:absolute;
	left:621px;
	top:27px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e2_15 { 
	color:rgba(255, 255, 255, 1);
	width:99px;
	height:42px;
	position:absolute;
	left:27px;
	top:19px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e2_19 { 
	width:1440px;
	height:1005px;
	position:absolute;
	left:0px;
	top:9px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_35 { 
	color:rgba(255, 255, 255, 1);
	width:410px;
	height:48px;
	position:absolute;
	left:126px;
	top:551px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e2_34 { 
	color:rgba(255, 255, 255, 1);
	width:611px;
	height:73px;
	position:absolute;
	left:115px;
	top:454px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e2_32 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:22px;
	position:absolute;
	left:1263px;
	top:89px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e2_27 { 
	background-color:rgba(60.56249924004078, 31.29062555730343, 31.29062555730343, 0);
	width:150px;
	height:34px;
	position:absolute;
	left:891px;
	top:83px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.2_27 { 
	border:3px solid rgba(255, 255, 255, 1);
}.e2_30 { 
	color:rgba(255, 255, 255, 1);
	width:130px;
	height:22px;
	position:absolute;
	left:901px;
	top:89px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e2_28 { 
	background-color:rgba(60.56249924004078, 31.29062555730343, 31.29062555730343, 0);
	width:109px;
	height:34px;
	position:absolute;
	left:1080px;
	top:83px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.2_28 { 
	border:3px solid rgba(255, 255, 255, 1);
}.e2_31 { 
	color:rgba(255, 255, 255, 1);
	width:63px;
	height:22px;
	position:absolute;
	left:1104px;
	top:89px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e2_29 { 
	background-color:rgba(60.56249924004078, 31.29062555730343, 31.29062555730343, 0);
	width:109px;
	height:34px;
	position:absolute;
	left:1248px;
	top:83px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.2_29 { 
	border:3px solid rgba(255, 255, 255, 1);
}.e2_26 { 
	color:rgba(255, 255, 255, 1);
	width:82px;
	height:22px;
	position:absolute;
	left:756px;
	top:89px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e2_25 { 
	background-color:rgba(60.56249924004078, 31.29062555730343, 31.29062555730343, 0);
	width:109px;
	height:34px;
	position:absolute;
	left:81px;
	top:83px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.2_25 { 
	border:3px solid rgba(255, 255, 255, 1);
}.e2_21 { 
	background-color:rgba(60.56249924004078, 31.29062555730343, 31.29062555730343, 0);
	width:109px;
	height:34px;
	position:absolute;
	left:742px;
	top:83px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.2_21 { 
	border:3px solid rgba(255, 255, 255, 1);
}.e2_24 { 
	color:rgba(255, 255, 255, 1);
	width:51px;
	height:22px;
	position:absolute;
	left:110px;
	top:89px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}